@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@theme {
  --color-lightgreen: #C2F800;
  --color-theme: #1A2312;
  --color-maintheme: #0C0D10;
  --color-offwhite: #9CA3AF;
  --font-oswald: "Oswald", sans-serif; 
  --font-inter: "Inter", sans-serif;
}
